{% extends 'base.html' %}
{% load static %}
{% block title %}
خانه
{% endblock %}
{% block content %}
<main class="main">
    <section class="home-slider position-relative mb-30">
        <div class="container">
            <div class="home-slide-cover mt-30">
                <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                    <div class="single-hero-slider single-animation-wrap" style="background-image: url({% static 'imgs/slider/slider-1.png' %})">
                        <div class="slider-content">
                            <h1 class="display-2 mb-40">
                                محصولات شگفت انگیز<br>
                                را از دست ندهید
                            </h1>
                            <p class="mb-65">جهت دریافت اخبار مشترک شوید</p>
                            <form class="form-subcriber d-flex">
                                <input type="email" placeholder="ایمیلتان را وارد کنید ...">
                                <button class="btn" type="submit">اشتراک</button>
                            </form>
                        </div>
                    </div>
                    <div class="single-hero-slider single-animation-wrap" style="background-image: url({% static 'imgs/slider/slider-2.png' %})">
                        <div class="slider-content">
                            <h1 class="display-2 mb-40">
                                میوه و سبزی تازه<br>
                                را از دست ندهید
                            </h1>
                            <p class="mb-65">در اولین سفارش خود تا 50% تخفیف بگیرید</p>
                            <form class="form-subcriber d-flex">
                                <input type="email" placeholder="ایمیلتان را وارد کنید ...">
                                <button class="btn" type="submit">اشتراک</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="slider-arrow hero-slider-1-arrow"></div>
            </div>
        </div>
    </section>
    <!--End hero slider-->
    <section class="popular-categories section-padding">
        <div class="container wow animate__animated animate__fadeIn">
            <div class="section-title">
                <div class="title">
                    <h3>دسته بندی ویژه</h3>
                    <ul class="list-inline nav nav-tabs links">
                        <li class="list-inline-item nav-item"><a class="nav-link" href="shop-grid-right.html">شیر و کیک</a></li>
                        <li class="list-inline-item nav-item"><a class="nav-link" href="shop-grid-right.html">قهوه و چایی</a></li>
                        <li class="list-inline-item nav-item"><a class="nav-link active" href="shop-grid-right.html">غذای حیوانات</a></li>
                        <li class="list-inline-item nav-item"><a class="nav-link" href="shop-grid-right.html">سبزیجات</a></li>
                    </ul>
                </div>
                <div class="slider-arrow slider-arrow-2 flex-right carausel-10-columns-arrow" id="carausel-10-columns-arrows"></div>
            </div>
            <div class="carausel-10-columns-cover position-relative">
                <div class="carausel-10-columns" id="carausel-10-columns">
                    <div class="card-2 bg-9 wow animate__animated animate__fadeInUp" data-wow-delay=".1s">
                        <figure class="img-hover-scale overflow-hidden">
                            <a href="shop-grid-right.html"><img src="{% static "imgs/shop/cat-13.png" %}" alt=""></a>
                        </figure>
                        <h6><a href="shop-grid-right.html">شیر و کیک</a></h6>
                        <span>26 مورد</span>
                    </div>
                    <div class="card-2 bg-10 wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
                        <figure class="img-hover-scale overflow-hidden">
                            <a href="shop-grid-right.html"><img src="{% static "imgs/shop/cat-12.png" %}" alt=""></a>
                        </figure>
                        <h6><a href="shop-grid-right.html">کیوی ارگانیک</a></h6>
                        <span>28 مورد</span>
                    </div>
                    <div class="card-2 bg-11 wow animate__animated animate__fadeInUp" data-wow-delay=".3s">
                        <figure class="img-hover-scale overflow-hidden">
                            <a href="shop-grid-right.html"><img src="{% static "imgs/shop/cat-11.png" %}" alt=""></a>
                        </figure>
                        <h6><a href="shop-grid-right.html">هلو</a></h6>
                        <span>14 مورد</span>
                    </div>
                    <div class="card-2 bg-12 wow animate__animated animate__fadeInUp" data-wow-delay=".4s">
                        <figure class="img-hover-scale overflow-hidden">
                            <a href="shop-grid-right.html"><img src="{% static "imgs/shop/cat-9.png" %}" alt=""></a>
                        </figure>
                        <h6><a href="shop-grid-right.html">سیب قرمز</a></h6>
                        <span>54 مورد</span>
                    </div>
                    <div class="card-2 bg-13 wow animate__animated animate__fadeInUp" data-wow-delay=".5s">
                        <figure class="img-hover-scale overflow-hidden">
                            <a href="shop-grid-right.html"><img src="{% static "imgs/shop/cat-3.png" %}" alt=""></a>
                        </figure>
                        <h6><a href="shop-grid-right.html">اسنک</a></h6>
                        <span>56 مورد</span>
                    </div>
                    <div class="card-2 bg-14 wow animate__animated animate__fadeInUp" data-wow-delay=".6s">
                        <figure class="img-hover-scale overflow-hidden">
                            <a href="shop-grid-right.html"><img src="{% static "imgs/shop/cat-1.png" %}" alt=""></a>
                        </figure>
                        <h6><a href="shop-grid-right.html">سبزیجات</a></h6>
                        <span>72 مورد</span>
                    </div>
                    <div class="card-2 bg-15 wow animate__animated animate__fadeInUp" data-wow-delay=".7s">
                        <figure class="img-hover-scale overflow-hidden">
                            <a href="shop-grid-right.html"><img src="{% static "imgs/shop/cat-2.png" %}" alt=""></a>
                        </figure>
                        <h6><a href="shop-grid-right.html">توت فرنگی</a></h6>
                        <span>36 مورد</span>
                    </div>
                    <div class="card-2 bg-12 wow animate__animated animate__fadeInUp" data-wow-delay=".8s">
                        <figure class="img-hover-scale overflow-hidden">
                            <a href="shop-grid-right.html"><img src="{% static "imgs/shop/cat-4.png" %}" alt=""></a>
                        </figure>
                        <h6><a href="shop-grid-right.html">آلو سیاه</a></h6>
                        <span>123 مورد</span>
                    </div>
                    <div class="card-2 bg-10 wow animate__animated animate__fadeInUp" data-wow-delay=".9s">
                        <figure class="img-hover-scale overflow-hidden">
                            <a href="shop-grid-right.html"><img src="{% static "imgs/shop/cat-5.png" %}" alt=""></a>
                        </figure>
                        <h6><a href="shop-grid-right.html">سیب کاستارد</a></h6>
                        <span>34 مورد</span>
                    </div>
                    <div class="card-2 bg-12 wow animate__animated animate__fadeInUp" data-wow-delay="1s">
                        <figure class="img-hover-scale overflow-hidden">
                            <a href="shop-grid-right.html"><img src="{% static "imgs/shop/cat-14.png" %}" alt=""></a>
                        </figure>
                        <h6><a href="shop-grid-right.html">چای و قهوه</a></h6>
                        <span>89 مورد</span>
                    </div>
                    <div class="card-2 bg-11 wow animate__animated animate__fadeInUp" data-wow-delay="0s">
                        <figure class="img-hover-scale overflow-hidden">
                            <a href="shop-grid-right.html"><img src="{% static "imgs/shop/cat-15.png" %}" alt=""></a>
                        </figure>
                        <h6><a href="shop-grid-right.html">هدفون</a></h6>
                        <span>87 مورد</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End category slider-->
    <section class="banners mb-25">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="banner-img wow animate__animated animate__fadeInUp" data-wow-delay="0">
                        <img src="{% static "imgs/banner/banner-1.png" %}" alt="">
                        <div class="banner-text">
                            <h4>
                                 هر روز تازه و <br>تمیز با ما<br>
                                 محصولات
                             </h4> 
                            <a href="shop-grid-right.html" class="btn btn-xs">خرید <i class="fi-rs-arrow-small-left"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="banner-img wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
                        <img src="{% static "imgs/banner/banner-2.png" %}" alt="">
                        <div class="banner-text">
                            <h4> صبحانه خود را<be> سالم و آسان کنید </h4> 
                            <a href="shop-grid-right.html" class="btn btn-xs">خرید <i class="fi-rs-arrow-small-left"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-md-none d-lg-flex">
                    <div class="banner-img mb-sm-0 wow animate__animated animate__fadeInUp" data-wow-delay=".4s">
                        <img src="{% static "imgs/banner/banner-3.png" %}" alt="">
                        <div class="banner-text">
                            <h4>بهترین محصولات ارگانیک <br>آنلاین</h4>
                            <a href="shop-grid-right.html" class="btn btn-xs">خرید <i class="fi-rs-arrow-small-left"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End banners-->
    <section class="product-tabs section-padding position-relative">
        <div class="container">
            <div class="section-title style-2 wow animate__animated animate__fadeIn">
                <h3>محصولات محبوب</h3>
                <ul class="nav nav-tabs links" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one" aria-selected="true">همه</button>
                    </li>
                    {% for item in categories %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nav-tab-off" data-bs-toggle="tab" data-bs-target="#tab-off" type="button" role="tab" aria-controls="tab-off" aria-selected=""><a href="{% url 'shop:category_detail' item.id %}">{{item.title}}</a></button>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!--End nav-tabs-->
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                    <div class="row product-grid-4">
                        {% for item in products %}
                        <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                            <div class="product-cart-wrap mb-30 wow animate__animated animate__fadeIn" data-wow-delay=".1s">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a href="{% url 'shop:datail' item.slug %}">
                                            <img class="default-img" src="{{item.image.url}}" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="product-content-wrap">
                                    <div class="product-category">
                                        <a href="{% url 'shop:category_detail' item.category.first.id %}">{{item.category.first}}</a>
                                    </div>
                                    <h2><a href="{% url 'shop:datail' item.slug %}">{{item.title}}</a></h2>
                                    <div class="product-rate-cover">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width: 90%"></div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> (4.0)</span>
                                    </div>
                                    <div>
                                        <span class="font-small text-muted">توسط: <a href="vendor-details-1.html">{{item.seller.name}}</a></span>
                                    </div>
                                    <div class="product-card-bottom">
                                        <div class="product-price">
                                            <span>{{item.price}}</span>
                                            <span class="old-price">{{item.discount}}</span>
                                        </div>
                                        <div class="add-cart">
                                            <a class="add" href="shop-cart.html"><i class="fi-rs-shopping-cart mr-5"></i>خرید </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!--end product card-->
                    </div>
                    <!--End product-grid-4-->
                </div>
                <!--En tab seven-->
            </div>
            <!--End tab-content-->
        </div>
    </section>
    <!--Products Tabs-->
    <section class="section-padding pb-5">
        <div class="container">
            <div class="section-title wow animate__animated animate__fadeIn">
                <h3 class="">پرفروش های روزانه</h3>
                <ul class="nav nav-tabs links" id="myTab-2" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="nav-tab-one-1" data-bs-toggle="tab" data-bs-target="#tab-one-1" type="button" role="tab" aria-controls="tab-one" aria-selected="true">ویژه</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nav-tab-two-1" data-bs-toggle="tab" data-bs-target="#tab-two-1" type="button" role="tab" aria-controls="tab-two" aria-selected="false">محبوب</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nav-tab-three-1" data-bs-toggle="tab" data-bs-target="#tab-three-1" type="button" role="tab" aria-controls="tab-three" aria-selected="false">جدید</button>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-lg-3 d-none d-lg-flex wow animate__animated animate__fadeIn">
                    <div class="banner-img style-2">
                        <div class="banner-text">
                            <h2 class="mb-100">طبیعت را به خانه خود بیاورید</h2>
                            <a href="shop-grid-right.html" class="btn btn-xs">خرید <i class="fi-rs-arrow-small-left"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12 wow animate__animated animate__fadeIn" data-wow-delay=".4s">
                    <div class="tab-content" id="myTabContent-1">
                        <div class="tab-pane fade show active" id="tab-one-1" role="tabpanel" aria-labelledby="tab-one-1">
                            <div class="carausel-4-columns-cover arrow-center position-relative">
                                <div class="slider-arrow slider-arrow-2 carausel-4-columns-arrow" id="carausel-4-columns-arrows"></div>
                                <div class="carausel-4-columns carausel-arrow-center" id="carausel-4-columns">
                                    {% for item in sliders %}
                                    {% if item.likes.count >= 10 %}
                                    <div class="product-cart-wrap">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <a href="{% url 'shop:datail' item.slug %}">
                                                    <img class="default-img" src="{{item.image.url}}" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">
                                                <a href="{% url 'shop:category_detail' itemcategory.first.id %}"> {{item.category.first}}</a>
                                            </div>
                                            <h2><a href="{% url 'shop:datail' item.slug %}">  {{item.title}}</a></h2>
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width: 80%"></div>
                                            </div>
                                            <div class="product-price mt-10">
                                                <span>{{item.price}} </span>
                                                <span class="old-price">{{item.discount}}</span>
                                            </div>
                                            <div class="sold mt-15 mb-15">
                                                <div class="progress mb-5">
                                                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <span class="font-xs text-heading"> فروش: 90/120</span>
                                            </div>
                                            <a href="shop-cart.html" class="btn w-100 hover-up"><i class="fi-rs-shopping-cart mr-5"></i>افزودن به سبدخرید</a>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                    <!--End product Wrap-->
                                </div>
                            </div>
                        </div>
                        <!--End tab-pane-->
                    </div>
                    <!--End tab-content-->
                </div>
                <!--End Col-lg-9-->
            </div>
        </div>
    </section>
    <!--End Best Sales-->
    <section class="section-padding pb-5">
        <div class="container">
            <div class="section-title wow animate__animated animate__fadeIn" data-wow-delay="0">
                <h3 class="">معاملات روز</h3>
                <a class="show-all" href="shop-grid-right.html">
                    <i class="fi-rs-angle-left"></i>
                    تمامی معاملات
                </a>
            </div>
            <div class="row">
                {% for item in products %}
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="product-cart-wrap style-2 wow animate__animated animate__fadeInUp" data-wow-delay="0">
                        <div class="product-img-action-wrap">
                            <div class="product-img">
                                <a href="{% url 'shop:datail' item.slug %}">
                                    <img src="{{item.image.url}}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-content-wrap">
                            <div class="deals-countdown-wrap">
                                <div class="deals-countdown" data-countdown="2025/03/25 00:00:00"></div>
                            </div>
                            <div class="deals-content">
                                <h2><a href="{% url 'shop:datail' item.slug %}"> {{item.title}}</a></h2>
                                <div class="product-rate-cover">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: 90%"></div>
                                    </div>
                                    <span class="font-small ml-5 text-muted"> (4.0)</span>
                                </div>
                                <div>
                                    <span class="font-small text-muted">توسط: <a href="vendor-details-1.html"> {{item.seller.name}}</a></span>
                                </div>
                                <div class="product-card-bottom">
                                    <div class="product-price">
                                        <span>{{item.price}}</span>
                                        <span class="old-price">{{item.discount}}</span>
                                    </div>
                                    <div class="add-cart">
                                        <a class="add" href="{% url 'shop:datail' item.slug %}"><i class="fi-rs-shopping-cart mr-5"></i>خرید </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--End Deals-->
    <section class="section-padding mb-30">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 mb-sm-5 mb-md-0 wow animate__animated animate__fadeInUp" data-wow-delay="0">
                    <h4 class="section-title style-1 mb-30 animated animated">برترین فروش</h4>
                    <div class="product-list-small animated animated">
                        {% for item in slider2 %}
                            {% if item.likes.count >= 10 %}
                            <article class="row align-items-center hover-up">
                                <figure class="col-md-4 mb-0">
                                    <a href="{% url 'shop:datail' item.slug %}"><img src="{{item.image.url}}" alt=""></a>
                                </figure>
                                <div class="col-md-8 mb-0">
                                    <h6>
                                        <a href="{% url 'shop:datail' item.slug %}">  {{item.title}}</a>
                                    </h6>
                                    <div class="product-rate-cover">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width: 90%"></div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> (4.0)</span>
                                    </div>
                                    <div class="product-price">
                                        <span>{{item.price}}</span>
                                        <span class="old-price">{{item.discount}}</span>
                                    </div>
                                </div>
                            </article>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 mb-md-0 wow animate__animated animate__fadeInUp" data-wow-delay=".1s">
                    <h4 class="section-title style-1 mb-30 animated animated">محصولات پرطرفدار</h4>
                    <div class="product-list-small animated animated">
                        {% for item in sliders2 %}
                            {% if item.likes.count >= 10 %}
                            <article class="row align-items-center hover-up">
                                <figure class="col-md-4 mb-0">
                                    <a href="{% url 'shop:datail' item.slug %}"><img src="{{item.image.url}}" alt=""></a>
                                </figure>
                                <div class="col-md-8 mb-0">
                                    <h6>
                                        <a href="{% url 'shop:datail' item.slug %}">  {{item.title}}</a>
                                    </h6>
                                    <div class="product-rate-cover">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width: 90%"></div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> (4.0)</span>
                                    </div>
                                    <div class="product-price">
                                        <span>{{item.price}}</span>
                                        <span class="old-price">{{item.discount}}</span>
                                    </div>
                                </div>
                            </article>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 mb-sm-5 mb-md-0 d-none d-lg-block wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
                    <h4 class="section-title style-1 mb-30 animated animated">به تازگی اضافه شده</h4>
                    <div class="product-list-small animated animated">
                        {% for item in sliders2 %}
                        <article class="row align-items-center hover-up">
                            <figure class="col-md-4 mb-0">
                                <a href="{% url 'shop:datail' item.slug %}"><img src="{{item.image.url}}" alt=""></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h6>
                                    <a href="{% url 'shop:datail' item.slug %}">  {{item.title}}</a>
                                </h6>
                                <div class="product-rate-cover">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: 90%"></div>
                                    </div>
                                    <span class="font-small ml-5 text-muted"> (4.0)</span>
                                </div>
                                <div class="product-price">
                                    <span>{{item.price}}</span>
                                    <span class="old-price">{{item.discount}}</span>
                                </div>
                            </div>
                        </article>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 mb-sm-5 mb-md-0 d-none d-xl-block wow animate__animated animate__fadeInUp" data-wow-delay=".3s">
                    <h4 class="section-title style-1 mb-30 animated animated">دارای رتبه برتر</h4>
                    <div class="product-list-small animated animated">
                        {% for item in slider2 %}
                            {% if item.likes.count >= 10 %}
                            <article class="row align-items-center hover-up">
                                <figure class="col-md-4 mb-0">
                                    <a href="{% url 'shop:datail' item.slug %}"><img src="{{item.image.url}}" alt=""></a>
                                </figure>
                                <div class="col-md-8 mb-0">
                                    <h6>
                                        <a href="{% url 'shop:datail' item.slug %}">  {{item.title}}</a>
                                    </h6>
                                    <div class="product-rate-cover">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width: 90%"></div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> (4.0)</span>
                                    </div>
                                    <div class="product-price">
                                        <span>{{item.price}}</span>
                                        <span class="old-price">{{item.discount}}</span>
                                    </div>
                                </div>
                            </article>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End 4 columns-->
</main>
{% endblock %}